In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder 
from sklearn.ensemble import RandomForestClassifier
from sklearn.cluster import KMeans
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [2]:
#Read the data from loan.csv file
df_loan = pd.read_csv('loan.csv')

In [3]:
df_loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149999 entries, 0 to 149998
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           149999 non-null  int64
 1   member_id                    149999 non-null  int64
 2   loan_amnt                    149999 non-null  float64
 3   funded_amnt                  149999 non-null  float64
 4   funded_amnt_inv              149999 non-null  float64
 5   term                         149999 non-null  object
 6   int_rate                     149999 non-null  float64
 7   installment                  149999 non-null  float64
 8   grade                        149999 non-null  object
 9   sub_grade                    149999 non-null  object
 10  emp_title                    140398 non-null  object
 11  emp_length                   143916 non-null  object
 12  home_ownership               149999 non-null  object
 13  annual_inc                   149995 non-null  float64
 14  verification_status          149999 non-null  object
 15  issue_d                      149999 non-null  object
 16  loan_status                  149999 non-null  object
 17  pymnt_plan                   149999 non-null  object
 18  url                          149999 non-null  object
 19  desc                         64147 non-null   object
 20  purpose                      149999 non-null  object
 21  title                        149980 non-null  object
 22  zip_code                     149999 non-null  object
 23  addr_state                   149999 non-null  object
 24  dti                          149999 non-null  float64
 25  delinq_2yrs                  149970 non-null  float64
 26  earliest_cr_line             149970 non-null  object
 27  inq_last_6mths               149970 non-null  float64
 28  mths_since_last_delinq       63538 non-null   float64
 29  mths_since_last_record       17474 non-null   float64
 30  open_acc                     149970 non-null  float64
 31  pub_rec                      149970 non-null  float64
 32  revol_bal                    149999 non-null  float64
 33  revol_util                   149841 non-null  float64
 34  total_acc                    149970 non-null  float64
 35  initial_list_status          149999 non-null  object
 36  out_prncp                    149999 non-null  float64
 37  out_prncp_inv                149999 non-null  float64
 38  total_pymnt                  149999 non-null  float64
 39  total_pymnt_inv              149999 non-null  float64
 40  total_rec_prncp              149999 non-null  float64
 41  total_rec_int                149999 non-null  float64
 42  total_rec_late_fee           149999 non-null  float64
 43  recoveries                   149999 non-null  float64
 44  collection_recovery_fee      149999 non-null  float64
 45  last_pymnt_d                 149846 non-null  object
 46  last_pymnt_amnt              149999 non-null  float64
 47  next_pymnt_d                 58681 non-null   object
 48  last_credit_pull_d           149984 non-null  object
 49  collections_12_mths_ex_med   149854 non-null  float64
 50  mths_since_last_major_derog  22305 non-null   float64
 51  policy_code                  149999 non-null  float64
 52  application_type             149999 non-null  object
 53  annual_inc_joint             0 non-null       float64
 54  dti_joint                    0 non-null       float64
 55  verification_status_joint    0 non-null       float64
 56  acc_now_delinq               149970 non-null  float64
 57  tot_coll_amt                 107464 non-null  float64
 58  tot_cur_bal                  107464 non-null  float64
 59  open_acc_6m                  0 non-null       float64
 60  open_il_6m                   0 non-null       float64
 61  open_il_12m                  0 non-null       float64
 62  open_il_24m                  0 non-null       float64
 63  mths_since_rcnt_il           0 non-null       float64
 64  total_bal_il                 0 non-null       float64
 65  il_util                      0 non-null       float64
 66  open_rv_12m                  0 non-null       float64
 67  open_rv_24m                  0 non-null       float64
 68  max_bal_bc                   0 non-null       float64
 69  all_util                     0 non-null       float64
 70  total_rev_hi_lim             107464 non-null  float64
 71  inq_fi                       0 non-null       float64
 72  total_cu_tl                  0 non-null       float64
 73  inq_last_12m                 0 non-null       float64
dtypes: float64(50), int64(2), object(22)
memory usage: 84.7+ MB

In [4]:
#Review the size of the data
df_loan.shape

(149999, 74)

In [5]:
df_loan.isnull().sum()

id                       0
member_id                0
loan_amnt                0
funded_amnt              0
funded_amnt_inv          0
                     ...
all_util            149999
total_rev_hi_lim     42535
inq_fi              149999
total_cu_tl         149999
inq_last_12m        149999
Length: 74, dtype: int64

In [6]:
df_loan[df_loan.isnull().any(axis=1)]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149994,4196146,5338428,7000.0,7000.0,7000.0,36 months,16.29,247.11,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,20300.0,NaN,NaN,NaN
149995,4184811,5326986,1600.0,1600.0,1600.0,36 months,21.00,60.29,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,22100.0,NaN,NaN,NaN
149996,4187325,5329692,4000.0,4000.0,4000.0,36 months,15.80,140.24,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,33200.0,NaN,NaN,NaN
149997,4187329,5329696,25900.0,25900.0,25900.0,60 months,11.14,564.94,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,29031.0,NaN,NaN,NaN
149998,4177247,5319609,20000.0,20000.0,20000.0,36 months,12.12,665.44,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,30133.0,NaN,NaN,NaN

In [7]:
#Review the dataframe
df_loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#List the columns
df_loan.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [9]:
#Identify the columns with null values
df_loan.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [14]:
#Replace columns with null values with 0
#Review the dataframe
df_loan_clean = df_loan.fillna(0)
df_loan_clean.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#df_loan_150k = df_loan_clean.head(150000)

In [ ]:
#df_loan_150k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149999 entries, 0 to 149998
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           149999 non-null  int64
 1   member_id                    149999 non-null  int64
 2   loan_amnt                    149999 non-null  float64
 3   funded_amnt                  149999 non-null  float64
 4   funded_amnt_inv              149999 non-null  float64
 5   term                         149999 non-null  object
 6   int_rate                     149999 non-null  float64
 7   installment                  149999 non-null  float64
 8   grade                        149999 non-null  object
 9   sub_grade                    149999 non-null  object
 10  emp_title                    149999 non-null  object
 11  emp_length                   149999 non-null  object
 12  home_ownership               149999 non-null  object
 13  annual_inc                   149999 non-null  float64
 14  verification_status          149999 non-null  object
 15  issue_d                      149999 non-null  object
 16  loan_status                  149999 non-null  object
 17  pymnt_plan                   149999 non-null  object
 18  url                          149999 non-null  object
 19  desc                         149999 non-null  object
 20  purpose                      149999 non-null  object
 21  title                        149999 non-null  object
 22  zip_code                     149999 non-null  object
 23  addr_state                   149999 non-null  object
 24  dti                          149999 non-null  float64
 25  delinq_2yrs                  149999 non-null  float64
 26  earliest_cr_line             149999 non-null  object
 27  inq_last_6mths               149999 non-null  float64
 28  mths_since_last_delinq       149999 non-null  float64
 29  mths_since_last_record       149999 non-null  float64
 30  open_acc                     149999 non-null  float64
 31  pub_rec                      149999 non-null  float64
 32  revol_bal                    149999 non-null  float64
 33  revol_util                   149999 non-null  float64
 34  total_acc                    149999 non-null  float64
 35  initial_list_status          149999 non-null  object
 36  out_prncp                    149999 non-null  float64
 37  out_prncp_inv                149999 non-null  float64
 38  total_pymnt                  149999 non-null  float64
 39  total_pymnt_inv              149999 non-null  float64
 40  total_rec_prncp              149999 non-null  float64
 41  total_rec_int                149999 non-null  float64
 42  total_rec_late_fee           149999 non-null  float64
 43  recoveries                   149999 non-null  float64
 44  collection_recovery_fee      149999 non-null  float64
 45  last_pymnt_d                 149999 non-null  object
 46  last_pymnt_amnt              149999 non-null  float64
 47  next_pymnt_d                 149999 non-null  object
 48  last_credit_pull_d           149999 non-null  object
 49  collections_12_mths_ex_med   149999 non-null  float64
 50  mths_since_last_major_derog  149999 non-null  float64
 51  policy_code                  149999 non-null  float64
 52  application_type             149999 non-null  object
 53  annual_inc_joint             149999 non-null  float64
 54  dti_joint                    149999 non-null  float64
 55  verification_status_joint    149999 non-null  float64
 56  acc_now_delinq               149999 non-null  float64
 57  tot_coll_amt                 149999 non-null  float64
 58  tot_cur_bal                  149999 non-null  float64
 59  open_acc_6m                  149999 non-null  float64
 60  open_il_6m                   149999 non-null  float64
 61  open_il_12m                  149999 non-null  float64
 62  open_il_24m                  149999 non-null  float64
 63  mths_since_rcnt_il           149999 non-null  float64
 64  total_bal_il                 149999 non-null  float64
 65  il_util                      149999 non-null  float64
 66  open_rv_12m                  149999 non-null  float64
 67  open_rv_24m                  149999 non-null  float64
 68  max_bal_bc                   149999 non-null  float64
 69  all_util                     149999 non-null  float64
 70  total_rev_hi_lim             149999 non-null  float64
 71  inq_fi                       149999 non-null  float64
 72  total_cu_tl                  149999 non-null  float64
 73  inq_last_12m                 149999 non-null  float64
dtypes: float64(50), int64(2), object(22)
memory usage: 84.7+ MB

In [17]:
#Reduce dataset to only necessary columns
columns = ['id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'emp_length', 
       'home_ownership', 'annual_inc', 'verification_status',
       'purpose', 'loan_status', 'total_pymnt']

df_data = df_loan[columns]
df_data.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,purpose,loan_status,total_pymnt
0,1077501,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,10+ years,RENT,24000.0,Verified,credit_card,Fully Paid,5861.071414
1,1077430,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,< 1 year,RENT,30000.0,Source Verified,car,Charged Off,1008.710000
2,1077175,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,10+ years,RENT,12252.0,Not Verified,small_business,Fully Paid,3003.653644
3,1076863,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,10+ years,RENT,49200.0,Source Verified,other,Fully Paid,12226.302212
4,1075358,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,1 year,RENT,80000.0,Source Verified,other,Current,3242.170000

In [18]:
#Check null values
df_data.isnull().sum()

id                        0
loan_amnt                 0
funded_amnt               0
funded_amnt_inv           0
term                      0
int_rate                  0
installment               0
grade                     0
emp_length             6083
home_ownership            0
annual_inc                4
verification_status       0
purpose                   0
loan_status               0
total_pymnt               0
dtype: int64

In [20]:
df_data_clean = df_data.fillna(0)
df_data_clean.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,purpose,loan_status,total_pymnt
0,1077501,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,10+ years,RENT,24000.0,Verified,credit_card,Fully Paid,5861.071414
1,1077430,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,< 1 year,RENT,30000.0,Source Verified,car,Charged Off,1008.710000
2,1077175,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,10+ years,RENT,12252.0,Not Verified,small_business,Fully Paid,3003.653644
3,1076863,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,10+ years,RENT,49200.0,Source Verified,other,Fully Paid,12226.302212
4,1075358,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,1 year,RENT,80000.0,Source Verified,other,Current,3242.170000